{% extends 'base.html.twig' %}

{% block title %}Arme{% endblock %}

{% block body %}
    <h1>Arme</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ arme.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ arme.nom }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('arme_index') }}">back to list</a>

    <a href="{{ path('arme_edit', {'id': arme.id}) }}">edit</a>

    {{ include('arme/_delete_form.html.twig') }}
{% endblock %}
