

        {{ form_start(form) }}

            {{ form_label(form.nom) }}
            {{ form_widget(form.nom) }}
            {{ form_errors(form.nom) }}<br>
            <button class="btn btn-success">{{ button_label|default('Save') }}</button>

            {{ form_end(form) }}




