{% extends 'base.html.twig' %}

{% block title %}Membre index{% endblock %}

{% block body %}
    <h1>Membre index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>DateDeNaissance</th>
                <th>Sexe</th>
                <th>IdAdmin</th>
                <th>Email</th>
                <th>Password</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for membre in membres %}
            <tr>
                <td>{{ membre.id }}</td>
                <td>{{ membre.nom }}</td>
                <td>{{ membre.prenom }}</td>
                <td>{{ membre.dateDeNaissance ? membre.dateDeNaissance|date('Y-m-d') : '' }}</td>
                <td>{{ membre.sexe }}</td>
                <td>{{ membre.idAdmin ? 'Yes' : 'No' }}</td>
                <td>{{ membre.email }}</td>
                <td>{{ membre.password }}</td>
                <td>
                    <a href="{{ path('membre_show', {'id': membre.id}) }}">show</a>
                    <a href="{{ path('membre_edit', {'id': membre.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('membre_new') }}">Create new</a>
{% endblock %}
