{% extends 'base.html.twig' %}

{% block title %}CommentaireObjectif index{% endblock %}

{% block body %}
    <h1>CommentaireObjectif index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Commentaire</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for commentaire_objectif in commentaire_objectifs %}
            <tr>
                <td>{{ commentaire_objectif.id }}</td>
                <td>{{ commentaire_objectif.commentaire }}</td>
                <td>
                    <a href="{{ path('commentaire_objectif_show', {'id': commentaire_objectif.id}) }}">show</a>
                    <a href="{{ path('commentaire_objectif_edit', {'id': commentaire_objectif.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('commentaire_objectif_new') }}">Create new</a>
{% endblock %}
