{% extends 'base.html.twig' %}

{% block title %}Competition index{% endblock %}

{% block body %}
    <h1 style="text-align: center; margin-bottom: 2%;margin-top: 2%">Liste Compétitions</h1>

    <a style="margin-top: 2%;margin-bottom: 2%" class="btn btn-lg btn-primary" href="{{ path('competition_new') }}">Ajouter</a>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Date</th>
                <th>Ville</th>
                <th>Tireurs</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for competition in competitions %}
            <tr>
                <td>{{ competition.id }}</td>
                <td>{{ competition.nom }}</td>
                <td>{{ competition.date ? competition.date|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ competition.ville }}</td>
               {# {%  for tireur in competition.tireurs %}
                    <td>{{ tireur.membre.nom }}</td>
                {%  endfor %}#}
                <td>
                    <a class="btn btn-lg btn-info" href="{{ path('competition_tireurs', {'id': competition.id}) }}">Liste</a>

                </td>
                <td>
                    <a class="btn btn-lg btn-success" href="{{ path('competition_show', {'id': competition.id}) }}">Voir</a>
                    <a class="btn btn-lg btn-warning" href="{{ path('competition_edit', {'id': competition.id}) }}">Modifier</a>
                    {{ include('competition/_delete_form.html.twig') }}

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
