{% extends 'base.html.twig' %}

{% block title %}Entrainement index{% endblock %}

{% block body %}
    <h1>Entrainement index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>Groupe</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% if  app.request.get('groupe') %}
            {% for entrainement in entrainements if app.request.get('groupe') == entrainement.groupe %}
                <tr>
                    <td>{{ entrainement.id }}</td>
                    <td>{{ entrainement.date ? entrainement.date|date('Y-m-d H:i:s') : '' }}</td>
                    <td>{{ entrainement.groupe }}</td>
                    <td>
                        <a class="btn btn-primary" href="{{ path('entrainement_show', {'id': entrainement.id}) }}">show</a>
                        <a class="btn btn-info" href="{{ path('entrainement_edit', {'id': entrainement.id}) }}">edit</a>
                    </td>
                </tr>
            {% endfor %}
        {%  else %}
            {% for entrainement in entrainements %}
                <tr>
                    <td>{{ entrainement.id }}</td>
                    <td>{{ entrainement.date ? entrainement.date|date('Y-m-d H:i:s') : '' }}</td>
                    <td>{{ entrainement.groupe }}</td>
                    <td>
                        <a class="btn btn-primary" href="{{ path('entrainement_show', {'id': entrainement.id}) }}">show</a>
                        <a class="btn btn-info" href="{{ path('entrainement_edit', {'id': entrainement.id}) }}">edit</a>
                    </td>
                </tr>
            {% endfor %}
        {% endif %}
        {% if not entrainements %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endif %}
        </tbody>
    </table>

    <a class="btn btn-success" href="{{ path('entrainement_new') }}">Create new</a>
{% endblock %}
