{% extends 'base.html.twig' %}

{% block title %}Entrainement index{% endblock %}

{% block body %}
    <h1>Entrainement index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>Groupe</th>
                <th>actions</th>
                {%  if app.request.get('groupe')  %}
                    <th>Présence</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
        {% if  app.request.get('groupe') %}
            {% for entrainement in entrainements if app.request.get('groupe') == entrainement.groupe %}
                <tr>
                    <td>{{ entrainement.id }}</td>
                    <td>{{ entrainement.date ? entrainement.date|date('Y-m-d H:i:s') : '' }}</td>
                    <td>{{ entrainement.groupe }}</td>
                    <td>
                        <a href="{{ path('entrainement_show', {'id': entrainement.id}) }}">show</a>
                        <a href="{{ path('entrainement_edit', {'id': entrainement.id}) }}">edit</a>
                        <a href="{{ path('validate_presence', {'id': entrainement.presence.id, 'idTireur': tireur.id}) }}">Valider présence</a>
                    </td>
                    <td>
                        {% for presence in tireur.presences %}
                            {% if presence.entrainement.id == entrainement.id %}
                                Présent
                            {% else %}
                                Absent
                            {% endif %}
                        {% endfor %}
                    </td>
                </tr>
            {% endfor %}
        {%  else %}
            {% for entrainement in entrainements %}
                <tr>
                    <td>{{ entrainement.id }}</td>
                    <td>{{ entrainement.date ? entrainement.date|date('Y-m-d H:i:s') : '' }}</td>
                    <td>{{ entrainement.groupe }}</td>
                    <td>
                        <a href="{{ path('entrainement_show', {'id': entrainement.id}) }}">show</a>
                        <a href="{{ path('entrainement_edit', {'id': entrainement.id}) }}">edit</a>
                    </td>
                </tr>
            {% endfor %}
        {% endif %}
        {% if not entrainements %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endif %}
        </tbody>
    </table>
    {% if not app.request.get('groupe') %}
        <a href="{{ path('entrainement_new') }}">Create new</a>
    {% endif %}
{% endblock %}
