{% extends 'base.html.twig' %}

{% block title %}Niveau{% endblock %}

{% block body %}

    <h1 style="text-align: center; margin-bottom: 2%;margin-top: 2%">Niveau</h1>
    <div class="container">
        <table class="table offset-3 col-sm-6">
            <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ niveau.id }}</td>
                    </tr>

                <tr class="">
                    <th>Catégorie</th>
                    <td>{{ niveau.categorie }}</td>
                </tr>
            </tbody>
        </table>
        <a class="btn btn-lg btn-info offset-3 col-sm-3" href="{{ path('niveau_index') }}">Retour</a>


        <a class="btn btn-lg btn-warning col-sm-3" href="{{ path('niveau_edit', {'id': niveau.id}) }}">Modifier</a>
    </div>
    {#{{ include('niveau/_delete_form.html.twig') }}#}
{% endblock %}
