{% extends 'base.html.twig' %}

{% block title %}MaitreArme index{% endblock %}

{% block body %}
    <h1>MaitreArme index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for maitre_arme in maitre_armes %}
            <tr>
                <td>{{ maitre_arme.id }}</td>
                <td>{{ maitre_arme.membre.nom }}</td>
                <td>{{ maitre_arme.membre.prenom }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('maitre_arme_show', {'id': maitre_arme.id}) }}">show</a>
                    <a class="btn btn-info" href="{{ path('maitre_arme_edit', {'id': maitre_arme.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-success" href="{{ path('maitre_arme_new') }}">Create new</a>
{% endblock %}
