{% extends 'base.html.twig' %}

{% block title %}MaitreArme{% endblock %}

{% block body %}
    <h1>MaitreArme</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ maitre_arme.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ maitre_arme.membre.nom }}</td>
            </tr>
            <tr>
                <th>Date de naissance</th>
                <td>{{ maitre_arme.membre.dateDeNaissance|date('Y-m-d')}}</td>
            </tr>
            <tr>
                <th>Sexe</th>
                <td>{{ maitre_arme.membre.sexe }}</td>
            </tr>
            <tr>
                <th>Leçons</th>
                <td>
                {% if maitre_arme.lecons is not empty  %}
                    <ul>
                    {% for lecon in maitre_arme.lecons %}
                        <li>{{ lecon.entrainement.date|date('Y-m-d')}} avec le tireur {{ lecon.tireur.membre.nom }} {{ lecon.tireur.membre.prenom }}</li>
                    {% endfor %}
                    </ul>
                {% else %}
                    Pas de lecon
                {% endif %}
                </td>
            </tr>


        </tbody>
    </table>

    <a href="{{ path('maitre_arme_home') }}">Back to list</a>

    <a href="{{ path('maitre_arme_edit', {'id': maitre_arme.id}) }}">edit</a>

    {{ include('maitre_arme/_delete_form.html.twig') }}
{% endblock %}
